.item {
  $interior-padding: 12px;
  display: grid;
  padding-right: $interior-padding;
  grid-template-areas: 'index cover info';
  grid-template-columns: min-content min-content 1fr;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--foreground);
  background: var(--surface-1);

  &.hideReorder {
    padding: 12px 0;
    padding-left: 12px;
    grid-template-areas: 'cover info controls';
    grid-template-columns: min-content 1fr;
  }

  .index {
    grid-area: index;
    display: grid;
    height: 100%;
    padding: 0 4px;
    margin-right: 4px;
    align-content: center;
    justify-items: center;
    gap: 12px;
    border-right: 1px solid var(--foreground);

    .innerIndex {
      display: grid;
      align-content: center;
      justify-items: center;
      gap: 4px;
    }

    button {
      padding: 4px;
      border: 0;
      background: var(--background);
      color: var(--foreground);

      &:hover {
        background: var(--foreground);
        color: var(--background);
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  img {
    grid-area: cover;
    color: var(--foreground);
    cursor: pointer;
  }

  .albumInfo {
    grid-area: info;
    display: grid;
    padding: $interior-padding 0;
    gap: 8px;
    cursor: pointer;

    .album {
      font-weight: 600;
      font-size: 1.25rem;
    }

    .date {
      font-size: 0.75rem;
    }
  }
}

@media (width <= 600px) {
  .item {
    gap: 8px;

    .albumInfo {
      .album {
        font-size: 1rem;
      }
    }
  }
}
