.item {
  display: grid;
  padding: 16px;
  grid-template-areas: 'index cover info controls';
  grid-template-columns: min-content min-content 1fr 1fr;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--foreground);
  border-radius: 4px;

  &.hideReorder {
    grid-template-areas: 'cover info controls';
    grid-template-columns: min-content 1fr 1fr;
  }

  .index {
    grid-area: index;
    display: grid;
    align-content: center;
    justify-items: center;

    button {
      padding: 4px;
      border: 0;
      background: var(--background);
      color: var(--foreground);

      &:disabled {
        pointer-events: none;
        opacity: 0;
      }

      &:hover {
        background: var(--foreground);
        color: var(--background);
      }
    }
  }

  img {
    grid-area: cover;
    width: 100px;
    height: 100px;
    color: var(--foreground);
  }

  .albumInfo {
    grid-area: info;
    display: grid;
    gap: 4px;

    .artist {
      font-weight: 600;
      font-size: 1.25rem;
    }
  }

  .controls {
    grid-area: controls;
    display: grid;
    justify-self: end;
    gap: 4px;
  }
}

@media (width <= 600px) {
  .item {
    grid-template-areas:
    'index cover controls'
    '_ info info';
    grid-template-columns: min-content 1fr 1fr;

    &.hideReorder {
      grid-template-areas:
      'cover controls'
      'info info';
      grid-template-columns: 1fr 1fr;
    }
  }
}
