.filterBar {
  display: grid;
  grid-template-areas:
    'search statusFilters'
    'addTo sorting';
  grid-template-columns: 1fr 1fr;
  justify-items: space-between;
  row-gap: 8px;
  column-gap: 32px;

  .searchContainer {
    grid-area: search;
  };

  .statusFilters {
    grid-area: statusFilters;
    justify-self: end;

    .filter {
      margin: 0;
      background: var(--background);
      color: var(--foreground);
      border-right: 0;

      &:last-child {
        border-right: 1px solid var(--foreground);
      }

      &:active {
        border-width: 1px;
      }

      &.selected {
        background: var(--foreground);
        color: var(--background);
      }
    }
  }

  .addTo {
    grid-area: addTo;
  }

  .sorting {
    grid-area: sorting;
    display: inline-flex;
    align-items: center;
    justify-self: end;
    gap: 8px;
  }
}

@media (width <= 650px) {
  .filterBar {
    grid-template-areas: 'search' 'statusFilters' 'sorting';
    grid-template-columns: 1fr;
    justify-items: center;

    .statusFilters {
      justify-self: center;
    }

    .sorting {
      justify-self: center;
    }
  }
}
