.links {
  list-style: none;

  .link {
    padding: 8px 12px;
    border: 1px solid var(--foreground);

    &.active {
      background: var(--foreground);
      color: var(--background);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
