.container {
  position: relative;
  display: inline-flex;

  .iconPrefix {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);

    .spinner {
      animation-name: spin;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-duration: 1s;
    }
  }

  .searchInput {
    padding: 8px 32px;

    &:disabled {
      background: var(--gray);
      cursor: not-allowed;
    }
  }

  .clearButton {
    position: absolute;
    right: 4px;
    top: 5px;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background: var(--background);
    color: var(--foreground);
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      background: var(--foreground);
      color: var(--background);
    }

    &:active {
      margin: 0;
      background: var(--background);
      color: var(--foreground);
      border-color: var(--foreground);
    }
  }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
