.select {
  display: inline-flex;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 4px;
  border: 1px solid var(--foreground);
  align-items: center;
  cursor: pointer;
  transition-property: color, background;
  transition-duration: 150ms;
  transition-timing-function: ease-in;

  &:hover {
    color: var(--background);
    background-color: var(--foreground);
  }

  &.disabled {
    cursor: not-allowed;
    background: var(--gray);
    color: var(--foreground);
  }

  .activeOption {
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.popup {
  display: grid;
  padding: 12px 8px;
  gap: 8px;
  border: 1px solid var(--foreground);
  background: var(--background);
  list-style: none;
  outline: 0;

  .option {
    padding: 8px 12px;
    cursor: pointer;

    &:hover {
      background: var(--foreground);
      color: var(--background);
    }

    &.selected {
      text-decoration: underline;
    }
  }
}
