.filterBar {
  display: grid;
  padding: 0 8px;
  grid-template-areas:
    'search search'
    'statusFilters sorting'
    'addTo addTo';
  grid-template-columns: 1fr min-content;
  justify-items: space-between;
  row-gap: 8px;
  column-gap: 8px;

  .searchContainer {
    grid-area: search;
  };

  .statusFilters {
    grid-area: statusFilters;
    display: flex;
    align-items: center;

    .filter {
      margin: 0;
      background: var(--surface-1);
      color: var(--foreground);
      border-right: 0;

      &:last-child {
        border-right: 1px solid var(--foreground);
      }

      &:active {
        border-width: 1px;
      }

      &:hover {
        text-decoration: underline;
      }

      &.selected {
        background: var(--foreground);
        color: var(--background);
        text-decoration: none;
        cursor: default;
      }
    }
  }

  .addTo {
    grid-area: addTo;
  }

  .sorting {
    grid-area: sorting;
    display: inline-flex;
    align-items: center;
    justify-self: end;
    gap: 4px;
  }

  .sortIcon {
    width: 16px;
    height: 16px;
  }
}

@media (width <= 650px) {
  .filterBar {
    .addTo {
      justify-self: center;
    }
  }
}
