.loading {
  display: grid;
  padding: 8px;
  place-content: center;
  place-items: center;
  grid-gap: 8px;
  border: 1px solid var(--foreground);

  .spinner {
    position: relative;
    width: 60px;
    height: 60px;
    color: var(--foreground);
    overflow: visible;
    z-index: 2;

    .topSleeve {
      position: absolute;
      top: 30px;
      right: 15px;
      z-index: 3;
      overflow: visible;
      animation-name: slide;
      animation-duration: 1.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }

    @keyframes slide {
      0% {
        top: 30px;
        transform: scale(1);
        z-index: 3;
      }

      25% {
        top: 28px;
        filter: brightness(200%);
        transform: scale(1.1);
        z-index: 3;
      }

      50% {
        top: 0;
        filter: brightness(200%);
        transform: scale(0.9);
        z-index: 3;
      }

      51% {
        top: 0;
        filter: brightness(200%);
        transform: scale(0.9);
        z-index: 1;
      }

      100% {
        top: 30px;
        filter: brightness(200%);
        transform: scale(1);
        z-index: 1;
      }
    }

    .bottomSleeve {
      position: absolute;
      top: 30px;
      right: 15px;
      z-index: 2;
    }
  }
}
