.header {
  display: flex;
  padding-top: 16px;
  padding-bottom: 8px;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

@media (width <= 650px) {
  .header {
    padding-left: 8px;
    padding-right: 8px;
  }
}
