.header {
  display: flex;
  padding-top: 12px;
  padding-bottom: 8px;
  gap: 8px;
  justify-content: space-between;
  align-items: center;

  .logoContainer {
    width: 200px;
    overflow: hidden;
  }

  .actions {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}

.main {
  margin-bottom: 16px;
}

@media (width <= 650px) {
  .header {
    .logoContainer {
      width: 66px;
    }
  }
}
