.main {
  display: grid;
  padding: 16px;
  justify-content: center;
  grid-template-columns: minmax(1fr, 1000px);
  grid-gap: 16px;

  .header {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
  }

  .pile {
    display: grid;
    gap: 16px;
    list-style: none;
    overflow-x: auto;
  }
}
