.searchInput {
  height: 32px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  padding: 0 12px;
  border-radius: 4px;
}

.resultItem {
  display: grid;
  max-width: 800px;
  padding: 8px;
  gap: 12px;
  grid-template-columns: min-content 1fr 1fr;
  border-bottom: 1px solid #aaa;
  list-style: none;

  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
  }

  .albumSection {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .album {
      font-weight: 600;
      font-size: 1.25rem;
    }
    .artist {
    }
  }

  .controls {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: end;
  }

  &:last-child { border-bottom: 0; }
}
