.overlay {
  overflow: hidden !important;
  background: rgba(0, 0, 0, 0.5);
}

.dialog {
  position: fixed;
  top: 100%;
  left: 50%;
  bottom: 0;
  display: grid;
  height: calc(100vh - 80px);
  width: 100vw;
  max-width: 800px;
  padding: 16px;
  grid-template-rows: min-content 1fr min-content;
  transform: translateX(-50%);
  background-color: var(--background);
  overflow-y: auto;
}

.dialogHeader {
  display: flex;
  padding: 12px 0;
  align-items: center;
  justify-content: space-between;

  .closeButton {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 0;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: var(--foreground);
    border: 0;

    &:hover {
      background: var(--foreground);
      color: var(--background);
    }
  }
}

.dialogContent {
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.dialogFooter {
  display: flex;
  margin-top: 12px;
  align-items: center;
  justify-content: end;
  gap: 8px;
}
